
#producto{
    width: 50% !important;
}

#cantidad{
    width: 20% !important;
}

#fecha{
    width:50% !important;
}

.form-group>label, form>label{
    font-weight: bold;
}

.row{
    margin-bottom: 20px;
}

.store{
    color: #0088BC;
}

#motivo{
    width: 45% !important;
}

